<div>
    <div>
        <h4>Formas de Pago</h4>
        <div class="col-12 row">
            <div class="col-6 p-2">
                <h5>Pagos por medio de Depósito y Transferencias</h5>
                <p>
                    Transferencias y Depósitos solo en Efectivo en las Cuentas Corrientes de los siguientes bancos:
                </p>
                <ul>
                    <li>BANCO PICHINCHA</li>
                    <li>BANCO INTERNACIONAL</li>
                    <li>BANCO GUAYAQUIL</li>
                </ul>
                <P>
                    Información sobre los pagos por medio de transferencias bancarias envíe un correo a: colecturia@anai.edu.ec, indicando nombres y apellidos del alumno(a).
                </P>
            </div>
            <div class="col-6 p-2 pl-5">
                <h5>Pagos directos en la Ventanilla</h5>
                <ul>
                    <li>Efectivo</li>
                    <li>Cheque</li>
                    <li>Tarjeta de Crédito</li>
                </ul>
                <p>
                    Un solo pago (todas las tarjetas Visa, Mastercard, Cuota Fácil, American Express, Diners Club, Discover).
                </p>
                <p>
                    <small>
                        Diferido con intereses hasta 12 meses con las siguientes tarjetas (Diners Club, American Express, Cuota Fácil, Visa Banco Bolivariano, Banco Machala, Banco Amazonas, Banco Internacional, Mastercard Produbanco, Banco del Austro)
                    </small>
                </p>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <h4>Expresos Escolares</h4>
        <br>
        <div class="col-12 row">
            <div class="col-4">
                <img id="img_expreso" src="assets/expresos.png" alt="">
            </div>
            <div class="col-4">
                <h5>Transporte Femenino Coordinación</h5>
                <br/>
                <div class="text-center">
                    <h6>Insp. Mariuxi Villafuerte</h6>
                    <hr/>
                    <p><fa-icon [icon]="faPhone"></fa-icon> Pbx. 3703300 Ext. 154</p>
                    <p>Celular: 099-497-5478</p>
                </div>
            </div>
            <div class="col-4">
                <h5>Transporte Masculino Coordinación</h5>
                <br/>
                <div class="text-center">
                    <h6>Insp. César Guillin</h6>
                    <hr/>
                    <p><fa-icon [icon]="faPhone"></fa-icon> Pbx. 3703300 Ext. 151</p>
                    <p>Celular: 098-891 9874</p>
                </div>
            </div>
        </div>
        <div class=" col-12 row">
            <div class="col-6"></div>
            <div class="col-6">
                <a href="assets/transportes.png" target="_blank">Lista de Expresos ANAI</a>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <h4>Biblioteca</h4>
        <br/>
        <div class="col-12 row">
            <div class="col-5">
                <br/>
                <img class="img_biblioteca" src="assets/biblioteca1.png" alt="">
            </div>
            <div class="col-2">
                <h5>Horarios de Atención</h5>
                <br/>
                <div class="text-center">
                    <h6>Lunes a Viernes</h6>
                    <hr/>
                    <p><fa-icon [icon]="faClock"></fa-icon> 8am – 5pm</p>
                    <h6>Sábados</h6>
                    <hr/>
                    <p><fa-icon [icon]="faClock"></fa-icon> 8am – 2pm</p>
                    <p><fa-icon [icon]="faPhone"></fa-icon> 370 3300 Ext. 162</p>
                </div>
            </div>
            <div class="col-5">
                <br/>
                <img class="img_biblioteca" src="assets/biblioteca2.png" alt="">
        </div>
    </div>
</div>