<div>
    <div>
        <h4>Expresos Escolares</h4>
        <br>
        <div class="col-12 row">
            <div class="col-4">
                <img id="img_expreso" src="assets/expresos.png" alt="">
            </div>
            <div class="col-4">
                <h5>Transporte Matutina</h5>
                <br/>
                <div class="text-center">
                    <h6>Insp. Mariuxi Villafuerte</h6>
                    <hr/>
                    <p><fa-icon [icon]="faPhone"></fa-icon> Pbx. 3703300 Ext. 154</p>
                    <p>Celular: 099-497-5478</p>
                </div>
            </div>
            <div class="col-4">
                <h5>Transporte Vespertina</h5>
                <br/>
                <div class="text-center">
                    <h6>Insp. César Guillin</h6>
                    <hr/>
                    <p><fa-icon [icon]="faPhone"></fa-icon> Pbx. 3703300 Ext. 151</p>
                    <p>Celular: 098-891 9874</p>
                </div>
            </div>
        </div>
        <div class=" col-12 row">
            <div class="col-6"></div>
            <div class="col-6">
                <a href="assets/transportes.png" target="_blank">Lista de Expresos ANAI</a>
            </div>
        </div>
    </div>
    <br/>
    <div>
        <h4>Biblioteca</h4>
        <br/>
        <div class="col-12 row">
            <div class="col-5">
                <br/>
                <img class="img_biblioteca" src="assets/biblioteca1.png" alt="">
            </div>
            <div class="col-2">
                <h5>Horarios de Atención</h5>
                <br/>
                <div class="text-center">
                    <h6>Lunes a Viernes</h6>
                    <hr/>
                    <p><fa-icon [icon]="faClock"></fa-icon> 8am – 5pm</p>
                    <h6>Sábados</h6>
                    <hr/>
                    <p><fa-icon [icon]="faClock"></fa-icon> 8am – 2pm</p>
                    <p><fa-icon [icon]="faPhone"></fa-icon> 370 3300 Ext. 162</p>
                </div>
            </div>
            <div class="col-5">
                <br/>
                <img class="img_biblioteca" src="assets/biblioteca2.png" alt="">
        </div>
    </div>
</div>