#header {
    background: #97CBEC;
    transition: all 0.5s;
    z-index: 999;
    padding: 10px 10px 10px 10px;
}

strong{
    font-size: 115%;
}
#header.header-scrolled {
    top: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
  
#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
#header .logo a {
    color: #5cb874;
}
  
#header .logo img {
    max-height: 30px;
}
  
@media (max-width: 992px) {
    #header {
      top: 0;
      padding: 15px 0;
    }
    #header .logo {
      font-size: 28px;
    }
}

li:hover {
    background-color: rgba(47, 96, 155, 0.5);
    border-radius: 15%;
}

span:hover {
    color: white;
}

.nav-link{
    color: white;
    font-weight: 500;
    font-size: 18px;
}