.container{
    margin-top: 20px;
}

.margen{
    margin-top: 50px;
}

h3 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 28px;
    color: #296A93;
}
.linea_hr{
    height: 3px;
    width: 180px;
    background: linear-gradient(to right, #5ca9fb 0%,  #1F7CB7 100%);
}

.hr_nosotros{
    width: 35%;
    text-align: left;
    margin-left:0;
    height: 3px;
    background: linear-gradient(to right, #5ca9fb 0%,  #1F7CB7 100%);
}

#img_nosotros{
    width: 100%;
}
.container_padre{
    height: 100%;
}
.vertical-center {
    margin-top: 20%;
}