<div>
    <div id="inicio">
        <app-inicio></app-inicio>
    </div>
    <div id="secciones" class="margen mt-5 pt-5">
        <div class="text-center">
            <h3>Secciones</h3>
            <hr class="linea_hr"/>
            <br/>
        </div>
        <app-secciones></app-secciones>
    </div>
    <div id="nosotros" class="margen">
        <div class="row col-12">
            <div class="col-6 container_padre">
                <div class="vertical-center">
                    <img id="img_nosotros" src="https://provinciarios2020.pythonanywhere.com{{colegio.logo}}" alt="">
                </div>
            </div>
            <div class="col-6">
                <h3>Nosotros</h3>
                <hr class="hr_nosotros"/>
                <app-nosotros></app-nosotros>
            </div>
        </div>
    </div>
    <div id="servicios" class="margen">
        <div class="text-center">
            <h3>Servicios</h3>
            <hr class="linea_hr"/>
        </div>
        <app-servicio></app-servicio>
    </div>
    <div id="noticia" class="margen">
        <div class="text-center">
            <h3>Noticias</h3>
            <hr class="linea_hr"/>
        </div>
        <br/>
        <div>
            <app-noticia></app-noticia>
        </div>
    </div>
    <div id="contacto" class="margen">
        <div class="text-center">
            <h3>Contacto</h3>
            <hr class="linea_hr"/>
        </div>
        <br/>
        <app-contacto></app-contacto>
    </div>
</div>