<div class="col-12 row">
    <div class="col-3 text-center">
        <div class="text-center puntero">
            <img src="assets/seccion1.png" alt="">
        </div> 
        <div class="text-center puntero">
            <h5>Educación Inicial</h5>
            <hr/>
        </div>
        <p>
            Brindamos a su hijo el ambiente ideal para que desarrolle sus habilidades tempranas mientras disfruta aprendiendo.
        </p>
    </div>
    <div class="col-3 text-center">
        <div class="text-center puntero">
            <img src="assets/seccion2.png" alt="">
        </div>
        <div class="text-center puntero">
            <h5>Educación General Básica Elemental y Media</h5>
            <hr/>
        </div>
        <p>
            A través de la instrucción formal encaminamos a nuestros estudiantes a cultivar valores y a desarrollar aptitudes desde sus primeros años.
        </p>
    </div>
    <div class="col-3 text-center">
        <div class="text-center puntero">
            <img src="assets/seccion3.png" alt="">
        </div>
        <div class="text-center puntero">
            <h5>Educación General Básica Superior y Bachillerato</h5>
            <hr/>
        </div>
        <p>
            Ofrecemos una educación de alta calidad basada en la disciplina y responsabilidad, formando ciudadanos líderes y de éxito.
        </p>
    </div>
    <div class="col-3 text-center">
        <div class="text-center puntero">
            <img src="assets/seccion4.png" alt="">
        </div>
        <div class="text-center puntero">
            <h5>Bachillerato Internacional</h5>
            <hr/>
        </div>
        <p>
            Preparamos a nuestros estudiantes con el estándar internacional del IBO, que los certifica como estudiantes de alto nivel ante cualquier institución superior del mundo.
        </p>
    </div>
</div>