img{
    width: 180px;
    transition: transform 2s;
}
img:hover{
    transform: scale(1.2);
}
h5{
    margin-top: 15px;
    font-weight: 500;
	font-size: 18px;
    color: rgba(24, 26, 126, 0.815);
}

hr{
    height: 3px;
    width: 75px;
    background: linear-gradient(to right, #1863b4 0%, #050c49 100%);
}

p{
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
}
.puntero{
    cursor: pointer;
}