
<div class="col-12 row">
    <div class="flex-container">
        <div *ngFor="let seccion of secciones; index as idx">
            <div class="text-center">
                <div class="text-center puntero">
                    <img src="https://provinciarios2020.pythonanywhere.com{{seccion.imagen}}" alt="">
                </div> 
                <div class="text-center puntero">
                    <h5>{{seccion.titulo}}</h5>
                    <hr/>
                </div>
                <p>{{seccion.texto}}</p>
                <p><b>Jornada: </b>{{seccion.jornada}}</p>
                <p><b>Horario: </b>{{seccion.horario}}</p>
            </div>
        </div>
    </div>
</div>