<div>
    <p>
        Somos una institución educativa, dedicada a la formación de bachilleres y ciudadanos dignos para la superación de la Patria.
        Tenemos más de 50 años educando en conocimientos y valores a todos nuestros estudiantes. Procuramos que el ambiente estudiantil sea basado en armonía, disciplina y bienestar. 
        Perseveramos en la integración de la familia, como gestores de la formación de sus hijos.
    </p>
    <h5>Datos Institución</h5>
    <div class="row col-12">
        <div class="col-6">
            <p><b>Provincia: </b>{{colegio.provincia}}</p>
            <p><b>Cantón: </b>{{colegio.canton}}</p>
            <p><b>Parroquia: </b>{{colegio.parroquia}}</p>
            <p><b>Tipo Educación: </b>{{colegio.tipo_educacion}}</p>
            <p><b>Tipo Unidad: </b>{{colegio.tipo_unidad}}</p>
            <p><b>Zona: </b>{{colegio.zona}}</p>
            <p><b>Regimen escolar: </b>{{colegio.regimen_escolar}}</p>
        </div>
        <div class="col-6">
            <p><b>Educación: </b>{{colegio.educacion}}</p>
            <p><b>Nivel Educativo: </b>{{colegio.nivel_educativo}}</p>
            <p><b>Modalidad: </b>{{colegio.modalidad}}</p>
            <p><b>Nº de estudiantes: </b>{{colegio.num_estudiantes}}</p>
            <p><b>Nº de docentes: </b>{{colegio.num_docentes}}</p>
            <p><b>Código AMIE: </b>{{colegio.codigo_amie}}</p>
        </div>
    </div>
    
    <!-- <div class="text-center">
        <iframe width="420" height="280" src="https://www.youtube.com/embed/0ncqrkWsnQE"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen 
        >
        </iframe>
    </div> -->
</div>