<div>
    <p>
        Somos una institución educativa, dedicada a la formación de bachilleres y ciudadanos dignos para la superación de la Patria.
        Tenemos más de 50 años educando en conocimientos y valores a todos nuestros estudiantes. Procuramos que el ambiente estudiantil sea basado en armonía, disciplina y bienestar. 
        Perseveramos en la integración de la familia, como gestores de la formación de sus hijos.
    </p>
    <div class="text-center">
        <iframe width="420" height="280" src="https://www.youtube.com/embed/0ncqrkWsnQE"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen 
        >
        </iframe>
    </div>
</div>